page-home {

    .main{
        background-color: #75dfb9;
        width: 100%;
    }

    .header{
        background-color: #1d202b;
        width: 100%;
    }

    .header h1{
        color: white;
        padding: 0.5em;
        font-family: 'Bebas';
        margin-left: 4.5em;
    }

    /* SCROLL MENU */

    div.scrollmenu {
        background-color: #1d202b;
        overflow: auto;
        white-space: nowrap;
    }
    
    div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        font-size: 1.5em;
        font-family: 'Avenir Next Condensed';
        font-weight: bold;
        text-decoration: none;
    }
    
    div.scrollmenu a:hover {
        background-color: white;
        color: #1d202b;
    }

    .content{
        width: 95%;
        margin-left: 0.5em;
        font-family: 'Avenir Next Condensed';
    }

    h2{
        border-bottom: 1px solid #1d202b;
        
    }

    .nameAndTime{
        background-color: #1d202b;
        color: #75dfb9;
    }

    .nameAndTime h3{
        padding: 0.75em 0 0 0.75em;
        font-size: 2em;
        font-weight: bold;
        width: 80%;
    }

    .nameAndTime p{
        font-size: 1em;
        padding: 0 0 0.5em 1.5em;
    }

    .forwardButton{
        width: 10%;
        float: right;
    }

    .nameAndTime button{
        width:10%;
        color: white;
        background-color: #1d202b;
        float: right;
    }

    /* BUTTONS */

    .buttons{
        margin-top: 1em;
        list-style-type: none;
    }

    .leftButton{
        background-color: #1d202b;
        color: #75dfb9;
        font-family: 'Avenir Next Condensed';
        font-size: 1.25em;
        padding: 0.5em;
        float: left;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1.25px solid #b8b8b8;
    }

    .midButton{
        background-color: #1d202b;
        color: #75dfb9;
        font-family: 'Avenir Next Condensed';
        font-size: 1.25em;
        float: left;
        padding: 0.5em;
        border: 1.25px solid #b8b8b8;
    }

    .midButton2{
        background-color: #1d202b;
        color: #75dfb9;
        font-family: 'Avenir Next Condensed';
        font-size: 1.25em;
        
        padding: 0.5em;
        border: 1.25px solid #b8b8b8;
    }

    .rightButton{
        background-color: #1d202b;
        color: #75dfb9;
        font-family: 'Avenir Next Condensed';
        font-size: 1.25em;
        padding: 0.5em;
        
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1.25px solid #b8b8b8;
    }

    .leftButton:active{
        background-color: #75dfb9;
        color: #1d202b;
    }

    .midButton:active{
        background-color: #75dfb9;
        color: #1d202b;
    }

    .midButton2:active{
        background-color: #75dfb9;
        color: #1d202b;
    }

    .rightButton:active{
        background-color: #75dfb9;
        color: #1d202b;
    }
}
